annotated-types
bcrypt==4.2.0
beautifulsoup4
colorama
colorlog
ConfigArgParse
decorator
email-validator
faiss-cpu
Faker
fastapi
joblib
langchain==0.3.27
langchain-community==0.3.31
langchain-openai==0.3.5
langgraph==1.0.1
numpy
openai
passlib==1.7.4
pdoc
pipreqs
pydantic
pydoctor
pymongo
pytest
python-dotenv
requests
rpds-py
scikit-learn
scipy
starlette
tiktoken
urllib3
uvicorn
python-multipart
pandas
pytest-cov
langsmith